*
{
    margin: 0;
    padding: 0;
}

nav
{
    background-color: teal;
    padding: 2em;
}

ul
{
    width: 75%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
}

.container
{
    padding: 7.5em;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    max-height: 200px;
}


.image
{
    max-height: 500px;
}
.container .image img
{
    max-height: 100%;
    max-width: 100%;
}